{% extends 'index.html' %}
{% load static %}

{% block content %}

            <h1>Author Entry</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>Author's Name</h4>
                <input type="textarea" name="authorname">
                <h4>First Text Sample</h4>
                <input type="textarea" name="firstsample">
                <h4>Second Text Sample</h4>
                <input type="textarea" name="secondsample">
                <h4>Third Text Sample</h4>
                <input type="textarea" name="thirdsample">
                <h4>Fourth Text Sample</h4>
                <input type="textarea" name="fourthsample">
                <h4>Fifth Text Sample</h4>
                <input type="textarea" name="fifthsample">
                <button type="submit">Submit</button>
            </form>

{% endblock %}