{% extends 'index.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Authorship Detector</h1>
      <p class="lead">A web app designed to assist in detecting the original author of anonymous documents</p>




            <h3>Anonymous Text</h3>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="textarea" name="anontext">
                <h3>Author A's Text</h3>
                <input type="textarea" name="authoratext">
                <button type="submit">Submit</button>
              </form>

                {% if ngram_pct_similarity %}
                <p>N-Gram Percentage Similarity: {{ ngram_pct_similarity }}</p>
                <p>Sentence Length Percentage Similarity: {{ sentence_length_pct_similarity }}</p>
                {% endif %}


              <p><a href="{% url 'index' %}">Return to home</a></p>


    </main>
{% endif %}
{% endblock %}