{% extends 'index.html' %}
{% load static %}

{% block content %}

    <main role="main" class="container">
      <h1 class="mt-5">AuthorTect</h1>
      <h4>Welcome to AuthorTect!</h4>
        <p class="lead">Similarly to how we use signatures to verify identity for paper documents, there are those who believe that
        individuals' writing styles can be analyzed to an extent where we can reasonably use it to identify them. There are differing
        views on how this is best accomplished</p>
      <h4>Does this really work?</h4>
        <p>No!</p>
    </main>

{% endblock %}