{% extends 'index.html' %}
{% load static %}



    {% block content %}
{% if user.is_authenticated %}
    <h4>placeholder</h4>
    <h1>File Uploads</h1>
    <h3>Upload Anonymous File</h3>
    <p>This is the file of which you are unsure of the author.</p>


          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="anonfile">
            <button type="submit">Upload</button>
          </form>

        <h3>Author A</h3>
        <p>Texts of known author A</p>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="authora">
            <button type="submit">Upload</button>
          </form>
        <h3>Author B</h3>
        <p>Texts of known author B</p>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="authorb">
            <button type="submit">Upload</button>
          </form>
          {% if uploaded_file_url %}
            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
          {% endif %}

            {% if upload_error %}
            <p>Error: {{ upload_error }}</a></p>
            {% endif %}

          <p><a href="{% url 'index' %}">Return to home</a></p>

{% endif %}
        {% endblock %}


